#nav div,span{
  margin-top: 1% ;
  z-index: 3 !important;
  position: relative;
  padding: 1%;
}
#portfolio {
  padding: 2%;
}
#portfolio button{
  margin: 3%;
}
#Education div{
  padding: 2%;
}
#Education div div{
  margin-bottom: 5%;
  margin-top: 5%;
}

